{% extends 'base.html'%}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ms-5" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-0 order-lg-0 " id="sidebarToggle" href="#!" ><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        {% comment %}
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        {% endcomment %}
    </form>
    
    <!-- Navbar-->
    <ul class="d-none d-md-inline-block navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'history' user_id=user.id %}">My History</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>


<div id="layoutSidenav">
    
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion bg-secondary" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading text-light">Add a Meal</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><img src="{% static 'admin/icons/log.svg'%}" class="svg-filter-light"></div>
                        <span class="text-light">Add a Meal</span>
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-light"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Recipe Name</span>
                                <form name="form" method="get" action="{% url 'dashRecipe' user_id=user.id %}">
                                    <input type="text" class="form-control" name='recipe_name' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder='Enter a Recipe Name'>
                                </form>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                                <form name="form" method="get" action="{% url 'dashIngredient' user_id=user.id %}">
                                    <input type="text" class="form-control" name='ingredient_name' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder='Enter an Ingredient Name'>
                                </form>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Water</span>
                                <form name="form" method="get" action="{% url 'addWater' user_id=user.id %}">
                                    <input type="text" class="form-control" name='water_added' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder='Water in Cups'>
                                </form>
                            </div>
                        </nav>
                    </div>

                    {% if recipe_dict %}
                    <form name='form' action="{% url 'addRecipe' user_id=user.id %}" method='Post'>
                        {% csrf_token %}
                        <div class="select-bar">
                            <div class="select-input-dash">                                
                            <select class="form-select w-50 mb-2 ms-4" aria-label="Default select example" name="selected_recipe" id="">
                                {% for key, value in recipe_dict.items %}
                                    <option value="{{value}}" selected='selected'>
                                        {{key}}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Select" class="btn btn-success btn-block ms-4"></input>
                            </div>

                        </div>

                    </form>
                    {% endif %}

                    {% if ingredient_dict and not measure_list%}
                    <form name='form' action="{% url 'ingredientUnit' user_id=user.id ingredient_name=ingredient_name %}" method='Get'>
                        {% csrf_token %}
                        
                            <select class="form-select w-50 mb-2 ms-4" aria-label="Default select example" name="selected_ingredient" id="">
                                {% for key, value in ingredient_dict.items %}
                                    <option value="{{value}}" selected='selected'>
                                        {{key}}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Select" class="btn btn-success btn-block ms-4"></input>
                        
                    </form>
                    {% endif %}


                    {% if measure_list %}
                    <form name='form' action="{% url 'addIngredient' ingredient_id=ingredient_id user_id=user.id ingredient_name=ingredient_name %}" method='Post'>

                        {% csrf_token %}
                        <input type="text" class="form-control w-50 mb-2 ms-4" name='selected_amount' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                        <select class="form-select w-50 mb-2 ms-4" aria-label="Default select example" name="selected_measure" id="">
                            {% for measure in measure_list %}
                                <option value="{{measure}}" selected='selected'>
                                    {{measure}}
                                </option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Select" class="btn btn-success btn-block ms-4"></input>
                    </form>
                    {% endif %}




                    <div class="sb-sidenav-menu-heading text-light">Learn More</div>
                    <a class="nav-link collapsed" href="{% url 'nutrition' user_id=user.id%}" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><img src="{% static 'admin/icons/feed-person.svg'%}" class="svg-filter-light"></div>
                        <span class="text-light">Nutritional Info</span></a>

                    <div class="sb-sidenav-menu-heading text-light">View Profile History</div>
                    <a class="nav-link collapsed" href="{% url 'history' user_id=user.id%}" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><img src="{% static 'admin/icons/feed-person.svg'%}" class="svg-filter-light"></div>
                        <span class="text-light">View My History</span></a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as: <span class="text-light">{{user.firstName}} {{user.lastName}}</span></div>
                
                
            </div>
        </nav>
    </div>
    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                <h1 class="mt-4">Welcome, {{user.firstName}}!</h1>
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                <p style="color: rgba(217, 30, 24, 0.8)"><b>{{sAlert}}<br></p>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-xl-15">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Today's Nutrient Intake
                            </div>
                            <div class = "col-md-12">
                                <canvas id="myChart" width="100%" height="40"></canvas>
                                <script>
                                    const ctx = document.getElementById('myChart').getContext('2d');
                                    const myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Carbs', 'Protein', 'Fat', 'Water', 'Sodium', 'Phosphorus', 'Potassium'],
                                            datasets: [{
                                                label: '% Achieved of Recommended Daily Value',
                                                data: [{{fCarb}}, {{fPro}}, {{fFat}}, {{fWat}}, {{fSod}}, {{fPho}}, {{fPot}}],
                                                backgroundColor: {{colLst|safe}},
                                                borderColor: {{colLst|safe}},
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true,
                                                    suggestedMax : 100
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" justify-content-sm-center">
                        <div class="card mb-4">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Nutrient Intake by Meal
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="card mb-4">
                                                    <div class="card-header">
                                                        <i class="fas fa-chart-area me-1 mb-2"></i>
                                                        Nutrient Details
                                                        <br>
                                                        <form name="pickNut" action="{% url 'dash' user_id=user.id%}" method="Post">
                                                        {% csrf_token %}
                                                        <label class="mb-2" for="nutList">View Nutrient:</label>
                                                            <select class="form-select w-50 mb-2" aria-label="Default select example" id="nutList" name="nutList" >
                                                                <option value="none" selected disabled hidden>
                                                                    {{nutrientSelect}}
                                                                </option>
                                                                <option class="dropdown-item" value='Protein'>Protein (g)</option>
                                                                <option class="dropdown-item" value='Fat'>Fat (g)</option>
                                                                <option class="dropdown-item" value='Carbs'>Carbs (g)</option>
                                                                <option class="dropdown-item" value='Calories'>Calories (kCal)</option>
                                                                <option class="dropdown-item" value='Sodium'>Sodium (mg)</option>
                                                                <option class="dropdown-item" value='Phosphorus'>Phosphorus (mg)</option>
                                                                <option class="dropdown-item" value='Potassium'>Potassium (mg)</option>
                                                            </select>
                                                            <div class="mb-2 mb-0">
                                                                <div class="d-grid"><input type="submit" value="Update View" class="btn btn-info btn-block opacity-75 w-25"></input></div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                                <div class = "col-xl-12">

                                                    <div class="chart-flex-container">
                                                        <div class="chart-flex-item">
                                                            <canvas id="myChartDoughnut" class="w-75 h-75 p-sm-3 doughnut-no-margin" display="flex"></canvas>
                                                            
                                                        </div>
                                                    </div>

                                                    <script>
                                                        const ctx2 = document.getElementById('myChartDoughnut').getContext('2d');
                                                        const myChartDoughnut = new Chart(ctx2, {
                                                            type: 'doughnut',
                                                            data: {
                                                                labels: {{ foodList|safe }},
                                                                datasets: [{
                                                                    label: 'Nutrient Details',
                                                                    data: {{ nutrientList|safe }},
                                                                    backgroundColor: [
                                                                        'rgba(239, 90, 36, 0.8)',
                                                                        'rgba(70, 70, 70, 0.8)',
                                                                        'rgba(25, 135, 84, 0.8)',
                                                                        'rgba(185, 125, 192, 0.8)',
                                                                        'rgba(255, 217, 112, 0.8)',
                                                                        'rgba(224, 52, 0, 0.8)'
                                                                    ],
                                                                    borderColor: [
                                                                        'rgba(239, 90, 36, 1)',
                                                                        'rgba(70, 70, 70, 1)',
                                                                        'rgba(25, 135, 84, 1)',
                                                                        'rgba(185, 125, 192, 1)',
                                                                        'rgba(255, 217, 112, 1)',
                                                                        'rgba(224, 52, 0, 1)'
                                                                    ],
                                                                    borderWidth: 1
                                                                }]
                                                            },
                                                            options: {
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true
                                                                    }
                                                                },
                                                                plugins: {
                                                                    legend: {
                                                                        display: true,
                                                                        labels: {
                                                                            font: {
                                                                                size:24
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        });
                                                    </script>
                                                </div>
                                                
                                            </div>
                                        </div>
                        


                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>



                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Suggested Recipes
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Recipe Name</th>
                                    <th>Calories (kCal)</th>
                                    <th>Carbs (g)</th>
                                    <th>Protein (g)</th>
                                    <th>Fat (g)</th>
                                    <th>Sodium (mg)</th>
                                    <th>Phosphorus (mg)</th>
                                    <th>Potassium (mg)</th>
                                    <th class="w-10">Add</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Recipe Name</th>
                                    <th>Calories (kCal)</th>
                                    <th>Carbs (g)</th>
                                    <th>Protein (g)</th>
                                    <th>Fat (g)</th>
                                    <th>Sodium (mg)</th>
                                    <th>Phosphorus (mg)</th>
                                    <th>Potassium (mg)</th>
                                    <th class="w-10">Add</th>


                                </tr>
                            </tfoot>
                            <tbody>
                                {% for suggested_recipe in suggested_recipe_list %}
                                <tr>
                                    <td>{{suggested_recipe.title}} </td>
                                    <td>{{suggested_recipe.calories }}</td>
                                    <td>{{suggested_recipe.carbs}}</td>
                                    <td>{{suggested_recipe.protein}}</td>
                                    <td>{{suggested_recipe.fat}}</td>
                                    <td>{{suggested_recipe.sodium}}</td>
                                    <td>{{suggested_recipe.phosphorus}}</td>
                                    <td>{{suggested_recipe.potassium}}</td>
                                    <td class="history-table-row" style="">
                                        <form name="form" action="{% url 'add_suggested_recipe' user_id=user.id recipe_title=suggested_recipe.title %}" method="Post">
                                            {% csrf_token %}
                                            <button class="btn btn-info">Add</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </main>
    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}