{% extends 'base.html'%}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<body class="sb-nav-fixed sb-sidenav-toggled">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        {% comment %}
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        {% endcomment %}
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register'%}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'dash' user_id=user.id %}">Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                <h1 class="mt-4 col-xl-10">This is your meal history, {{user.firstName}}!</h1><br>
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Nutrient Intake History
                                <form name="pickNut" action="{% url 'history' user_id=user.id%}" method="Post">
                                    {% csrf_token %}
                                        <select class="form-select w-50 mb-2" aria-label="Default select example" id="nutList" name="nutList" value="Protein">
                                            <option value="none" selected disabled hidden>
                                                {{nutrientSelect}}
                                            </option>
                                            <option class="dropdown-item" value='Protein'>Protein (g)</option>
                                            <option class="dropdown-item" value='Fat'>Fat (g)</option>
                                            <option class="dropdown-item" value='Carbs'>Carbs (g)</option>
                                            <option class="dropdown-item" value='Calories'>Calories (kCal)</option>
                                            <option class="dropdown-item" value='Sodium'>Sodium (mg)</option>
                                            <option class="dropdown-item" value='Phosphorus'>Phosphorus (mg)</option>
                                            <option class="dropdown-item" value='Potassium'>Potassium (mg)</option>
                                        </select>
                                        <div class="mb-2 mb-0">
                                            <div class="d-grid"><input type="submit" value="Update View" class="btn btn-info btn-block opacity-75 w-25"></input></div>
                                        </div>
                                    </form>
                            </div>
                            
                            <div class = "col-md-12">
                                <canvas id="another_Chart" width="100%" height="40"></canvas>
                                <script>
                                    const another_ctx = document.getElementById('another_Chart').getContext('2d');
                                    
                                    var dataFirst = {
                                        label: 'Recommended',
                                        data: {{recList|safe}},
                                        lineTension: 0,
                                        fill: false,
                                        backgroundColor: 'blue',
                                                borderColor: 'blue',
                                                borderWidth: 1
                            
                                    };
                                    var dataSecond = {
                                        label:'Actual',
                                        data: {{actList|safe}},
                                        lineTension: 0,
                                        fill: false,
                                        backgroundColor: 'red',
                                                borderColor: 'red',
                                                borderWidth: 1
                                    };

                                    var totalData = {
                                        labels: {{pastWeekDates|safe}},
                                        datasets: [dataFirst,dataSecond]
                                        
                                    };

                                    var chartOptions = {
                                        legend: {
                                            display: true,
                                            position: 'top',
                                            labels: {
                                                boxWidth:80,
                                                fontColor: 'black'
                                            }
                                        }
                                    };

                                    const another_Chart = new Chart(another_ctx, {
                                        type: 'line',
                                        data: totalData,
                                        options: chartOptions
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Meal History
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Date &amp Time</th>
                                            <th>Recipe Name</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Protein</th>
                                            <th>Fat</th>
                                            <th>Water</th>
                                            <th>Sodium</th>
                                            <th>Phosphorus</th>
                                            <th>Potassium</th>
                                            <th class="w-10">Edit</th>
                                            <th class="w-10">Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date &amp Time</th>
                                            <th>Recipe Name</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Protein</th>
                                            <th>Fat</th>
                                            <th>Water</th>
                                            <th>Sodium</th>
                                            <th>Phosphorus</th>
                                            <th>Potassium</th>
                                            <th class="w-10">Edit</th>
                                            <th class="w-10">Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <tr>
                                            {% for meal in history_meal_dict %} 
                                            <td>{{meal.date}}</td>
                                            <td>{{meal.recipe.name}}</td>
                                            <td>{{meal.recipe.calories}}</td>
                                            <td>{{meal.recipe.carbs}}</td>
                                            <td>{{meal.recipe.protein}}</td>
                                            <td>{{meal.recipe.fat}}</td>
                                            <td>{{meal.recipe.water}}</td>
                                            <td>{{meal.recipe.sodium}}</td>
                                            <td>{{meal.recipe.phosphorus}}</td>
                                            <td>{{meal.recipe.potassium}}</td>
                                            <td class="history-table-row" style="">
                                                <form name="form" action="{% url 'update_recipe' user_id=user.id meal_id=meal.id %}" method="Post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-info">Edit</button>
                                                </form>
                                            </td>
                                            <td class="history-table-row" style="">
                                                <form name="form" action="{% url 'delete_recipe' user_id=user.id meal_id=meal.id %}" method="Post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-info">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}