{% extends 'base.html'%}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}
<body class="sb-nav-fixed sb-sidenav-toggled">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register'%}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'dash' user_id=user.id %}">Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                <h1 class="mt-4 col-xl-10">This is your meal history, {{user.firstName}}!</h1><br>
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Nutrient Intake History
                            </div>
                            <div class = "col-md-12">
                                <canvas id="another_Chart" width="100%" height="40"></canvas>
                                <script>
                                    const another_ctx = document.getElementById('another_Chart').getContext('2d');
                                    const another_Chart = new Chart(another_ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Carbs', 'Protien', 'Fat', 'Water', 'Sodium', 'Phosphorus', 'Potassium'],
                                            datasets: [{
                                                label: '# of Votes',
                                                data: [{{fCarb}}, {{fPro}}, {{fFat}}, {{fWat}}, {{fSod}}, {{fPho}}, {{fPot}}],
                                                backgroundColor: [
                                                    'rgba(239, 90, 36, 0.8)',
                                                    'rgba(70, 70, 70, 0.8)',
                                                    'rgba(25, 135, 84, 0.8)',
                                                    'rgba(185, 125, 192, 0.8)',
                                                    'rgba(255, 217, 112, 0.8)',
                                                    'rgba(224, 52, 0, 0.8)'
                                                ],
                                                borderColor: [
                                                    'rgba(239, 90, 36, 1)',
                                                    'rgba(70, 70, 70, 1)',
                                                    'rgba(25, 135, 84, 1)',
                                                    'rgba(185, 125, 192, 1)',
                                                    'rgba(255, 217, 112, 1)',
                                                    'rgba(224, 52, 0, 1)'
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card mb-4">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      This is going to be an accordion
                                    </button>
                                  </h2>
                                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class = "col-md-12">
                                            <canvas id="third_Chart" width="20%" height="20%"></canvas>
                                            <script>
                                                const third_ctx = document.getElementById('third_Chart').getContext('2d');
                                                const third_Chart = new Chart(third_ctx, {
                                                    type: 'doughnut',
                                                    data: {
                                                        labels: ['Carbs', 'Protien', 'Fat', 'Water', 'Sodium', 'Phosphorus', 'Potassium'],
                                                        datasets: [{
                                                            label: '# of Votes',
                                                            data: [{{fCarb}}, {{fPro}}, {{fFat}}, {{fWat}}, {{fSod}}, {{fPho}}, {{fPot}}],
                                                            backgroundColor: [
                                                            'rgba(239, 90, 36, 0.8)',
                                                            'rgba(70, 70, 70, 0.8)',
                                                            'rgba(25, 135, 84, 0.8)',
                                                            'rgba(185, 125, 192, 0.8)',
                                                            'rgba(255, 217, 112, 0.8)',
                                                            'rgba(224, 52, 0, 0.8)'
                                                            ],
                                                            borderColor: [
                                                                'rgba(239, 90, 36, 1)',
                                                                'rgba(70, 70, 70, 1)',
                                                                'rgba(25, 135, 84, 1)',
                                                                'rgba(185, 125, 192, 1)',
                                                                'rgba(255, 217, 112, 1)',
                                                                'rgba(224, 52, 0, 1)'
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            y: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Meal History
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Date &amp Time</th>
                                            <th>Recipe Name</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Protein</th>
                                            <th>Fat</th>
                                            <th>Water</th>
                                            <th>Sodium</th>
                                            <th>phosphorus</th>
                                            <th>Potassium</th>
                                            <th>Update</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date &amp Time</th>
                                            <th>Recipe Name</th>
                                            <th>Calories</th>
                                            <th>Carbs</th>
                                            <th>Protein</th>
                                            <th>Fat</th>
                                            <th>Water</th>
                                            <th>Sodium</th>
                                            <th>phosphorus</th>
                                            <th>Potassium</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for meal in meal_dict %} 
                                        <tr>
                                            <td style="display:hidden;">{{meal.id}}</td>
                                            <td>{{meal.date}}</td>
                                            <td>{{meal.recipe.name}}</td>
                                            <td>{{meal.recipe.calories}}</td>
                                            <td>{{meal.recipe.carbs}}</td>
                                            <td>{{meal.recipe.protein}}</td>
                                            <td>{{meal.recipe.fat}}</td>
                                            <td>{{meal.recipe.water}}</td>
                                            <td>{{meal.recipe.sodium}}</td>
                                            <td>{{meal.recipe.phosphorus}}</td>
                                            <td>{{meal.recipe.potassium}}</td>
                                            <td class="history-table-row" style="text-align: center;">
                                                <form name="form" action="{% url 'update_recipe' user_id=user.id meal_id=meal.id %}" method="Post">
                                                    {% csrf_token %}
                                                    <button>Edit</button>
                                                </form>
                                                <p>   </p>
                                                <form><button>Delete</button></form>
                                            </td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}