{% extends 'base.html'%}
{% load static %}
{% block title %} Nutrition Info {% endblock %}
{% block content %}
<style>
.nutrition-body {
    background-color: rgba(239, 90, 36, 0.65); 
}
</style>

<body class="sb-nav-fixed sb-sidenav-toggled nutrition-body">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        {% comment %}
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        {% endcomment %}
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register'%}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'dash' user_id=user.id %}">Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                </div>


                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card">
                            <div class="card-header">
                            <div class="text-center justify-content-center"> 
                                <br>
                                <h1 class='text-center'> Learn about what fuels your body. </h1>
                            </div>
                            <div class="text-center" >
                            <p><br>As the saying goes, "You are what you eat,". But what does that mean? Food is made up different molecules grouped into two 
                                main groups: macronutrients and micronutrients. Macronutrients include fat, carbs, and protein. They are required in large amounts 
                                to sustain health. Micronutrients include vitamins and minerals and are required in smaller doses. Both allow our bodies to function 
                                properly. 
                            </p>
                            </div>
                            </div><br><br>
                            <div class="text-center">
                                <h2>Learn more about: </h2><br>
                                <h5><a href="#protein" style="text-decoration: none"> Protein &emsp;</a> <a href="#fat" style="text-decoration: none"> Fat &emsp;</a> <a href="#carbs" style="text-decoration: none"> Carbs &emsp;</a> <a href="#water" style="text-decoration: none"> Water &emsp;</a> <a href="#potassium" style="text-decoration: none"> Potassium &emsp;</a> <a href="#sodium" style="text-decoration: none"> Sodium &emsp;</a><a href="#phosphorus" style="text-decoration: none"> Phosphorus</a> </h5>
                            </div>
                            <br>

                            <!-- Protein -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="protein">
                                            <h1><b>Protein</b></h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                            <p> Protein is a complex group of molecules that performs many jobs in your body. Protein makes up your hair, nails, bones, and muscles. It gives tissues and organs their shape and also helps them work the way they should. In short, protein is one of the building blocks that make you into who you are.
                                                <br><br>
                                                You need protein to keep up the size and shape of your muscles. As you lose weight, protein prevents you from losing muscle at the same time. In physical activity, protein is the key to building more muscle. 
                                            </p>
                                            <br>
                                            <p>Foods High in Protein: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Seafood</li>
                                                        <li>  White-Meat Poultry</li>
                                                        <li>  Milk and Cheese</li>
                                                        <li>  Eggs</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Beans</li>
                                                        <li>  Soy</li>
                                                        <li>  Lean Beef</li>
                                                        <li>  Yogurt</li>

                                                    </ul>
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/proteinimg.jpg' %}" alt="protein" width="450rem" height="auto" id="protein">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Fat -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="fat">
                                            <h1><b>Fat</b></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                            <img src="{% static 'admin/img/healthy_fats.jpeg' %}" alt="fat" width="450rem" height="auto" id="fat">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                Fat helps the body absorb vitamin A, vitamin D and vitamin E. These vitamins are fat-soluble, which means they can only be absorbed with the help of fats. Any fat that's not used by your body's cells or turned into energy is converted into body fat. Dietary fats are essential in providing energy and supporting cell function. Fats also help protect your organs keep your body warm. Fats help your body absorb some nutrients and produce important hormones. 
                                            </p>
                                            <br>
                                            <p>Foods High in Fat: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Fatty fish</li>
                                                        <li>  Chia seeds</li>
                                                        <li>  Dark chocolate</li>
                                                        <li>  Eggs</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Avocado</li>
                                                        <li>  Flaxseed</li>
                                                        <li>  Nuts</li>

                                                    </ul>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Carbs -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="carbs">
                                            <h1><b>
                                                Carbohydrates
                                            </b></h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                Foods high in carbohydrates are an important part of a healthy diet. Carbohydrates provide the body with glucose, which is converted to energy used to support bodily functions and physical activity. The four primary functions of carbohydrates in the body are to provide energy, store energy, build macromolecules, and spare protein and fat for other uses. Glucose energy is stored as glycogen, with the majority of it in the muscle and liver.
                                            </p>
                                            <br>
                                            <p>Foods High in Carbs: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Quinoa</li>
                                                        <li>  Oats</li>
                                                        <li>  Buckwheat</li>
                                                        <li>  Bananas</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Sweet potatoes</li>
                                                        <li>  Beets</li>
                                                        <li>  Oranges</li>

                                                    </ul>
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/carbs.jpeg' %}" alt="carbs" width="450rem" height="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Water -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="water">
                                            <h1><b>
                                                Water
                                            </b></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/water.jpeg' %}" alt="water" width="450rem" height="auto">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                Water helps your body regulate temperature, lubricate and cushion joints, protect your spinal cord and other sensitive tissues, and get rid of wastes through urination, perspiration, and bowel movements.
                                            </p>                                                
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <!-- Potassium -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="potassium">
                                            <h1><b>
                                                Potassium
                                            </b></h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                Potassium is found naturally in many foods, and is also available as a supplement. Its main role in the body is to help maintain normal levels of fluid inside our cells. Sodium, its counterpart, maintains normal fluid levels outside of cells. Potassium also helps muscles to contract and supports normal blood pressure.
                                            </p>
                                            <br>
                                            <p>Foods High in Potassium: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Dried fruits (raisins, apricots)</li>
                                                        <li>  Beans, lentils</li>
                                                        <li>  Potatoes</li>
                                                        <li>  Winter squash (acorn, butternut)</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Spinach, broccoli</li>
                                                        <li>  Beet greens</li>
                                                        <li>  Bananas</li>

                                                    </ul>
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/potassium.jpeg' %}" alt="potassium" width="450rem" height="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Sodium -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="sodium">
                                            <h1><b>
                                                Sodium
                                            </b></h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/sodium.jpeg' %}" alt="sodium" width="450rem" height="auto">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                The human body requires a small amount of sodium to conduct nerve impulses, contract and relax muscles, and maintain the proper balance of water and minerals.
                                            </p>
                                            <br>
                                            <p>Foods High in sodium: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Seafood</li>
                                                        <li>  Vegetable Juice</li>
                                                        <li>  Canned Veggies</li>
                                                                                                          
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Canned Meat</li>
                                                        <li>  Cured Meat</li>
                                                        <li>  Cottage Cheese</li>
                                                        <li>  Processed Cheese</li>  
                                                    </ul>
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <!-- Phosphorus -->
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body" id="phosphorus">
                                            <h1><b>
                                                Phosphorus
                                            </b></h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <p> 
                                                Phosphorus is needed for the growth, maintenance, and repair of all tissues and cells. It also is required for the production of our genetic building blocks, DNA and RNA. Additionally, phosphorus helps balance and utilize other vitamins and minerals, including vitamin D, iodine, magnesium, and zinc.
                                            </p>
                                            <br>
                                            <p>Foods High in Phosphorus: </p>
                                            <div class="row justify-content-center">
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Chicken and Turkey</li>
                                                        <li>  Pork</li>
                                                        <li>  Seafood</li>
                                                        <li>  Dairy</li>                         
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <ul>
                                                        <li>  Sunflower and Pumpkin Seeds</li>
                                                        <li>  Nuts</li>
                                                        <li>  Whole Grains</li>  
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div  class="card-body">
                                            <img src="{%static 'admin/img/healthy_phos.jpeg' %}" alt="phosphorus" width="450rem" height="auto">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}