{% extends 'base.html'%}
{% load static %}
{% block title %} Update {% endblock %}
{% block content %}
<body class="sb-nav-fixed sb-sidenav-toggled">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        {% comment %}
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        {% endcomment %}
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register'%}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'dash' user_id=user.id %}">Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card mb-4">
                            This is a page for Nutritional Information
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}