{% extends 'base.html'%}
{% load static %}
{% block title %} Update {% endblock %}
{% block content %}
<body class="sb-nav-fixed sb-sidenav-toggled">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-secondary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'dash' user_id=user.id %}">Whealth</a>
    <!-- Sidebar Toggle-->
    
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'register'%}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'dash' user_id=user.id %}">Dashboard</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'index'%}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 bg-light">
                <h1 class="mt-4 col-xl-10">This is your meal history, {{user.firstName}}!</h1><br>
                <ol class="breadcrumb mb-4">
                    <!--<li class="breadcrumb-item active">Dashboard</li>-->
                </ol>
                </div>
                <div class="row justify-content-sm-center align-items-md-center">
                    <div class="col-xl-10 justify-content-sm-center">
                        <div class="card mb-4">
                            <div class="card-header">
                                Update {{meal.recipe.name}}
                            </div>
                            <div class="card-body">
                                <form name="update-recipe-form" action="{% url 'edit_recipe' user_id=user.id meal_id=meal.id %}" method="Post">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <input class="form-control" required='True' name="recipe_name" id="recipe_name" type="text" placeholder="{{meal.recipe.name}}" value="{{meal.recipe.name}}"/>
                                                <label for="recipe_name">{{meal.recipe.name}}</label>
                                            </div>
                                        </div>
                                        <p>{{meal.recipe.id}}</p>
                                        <div class="col-md-4">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" required='True' name="meal_date" id="meal_date" type="date" placeholder="{{meal.date}}" value="{{meal.date}}"/>
                                                <label for="meal_date">Date</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-floating">
                                            <input class="form-control" required='True' name="recipe_calories" id="recipe_calories" type="number" placeholder="Enter your date of birth" value="{{meal.recipe.calories}}"/>
                                            <label for="recipe_calories">Calories</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_carbs" id="recipe_carbs" value="{{meal.recipe.carbs}}">
                                                <label for="recipe_carbs">Carbs</label>                                        
                                            </div>
                                        </div>  

                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_protein" id="recipe_protein" value="{{meal.recipe.protein}}">
                                                <label for="recipe_protein">Protein</label>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_fat" id="recipe_fat" name="txtWeight" value="{{meal.recipe.fat}}">
                                                <label for="recipe_fat">Fat</label>   
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">

                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_sodium" id="recipe_sodium" name="txtWeight" value="{{meal.recipe.sodium}}">
                                                <label for="recipe_sodium">Sodium</label>   
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_phosphorus" id="recipe_phosphorus" name="txtWeight" value="{{meal.recipe.phosphorus}}">
                                                <label for="recipe_phosphorus">Phosphorus</label>   
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_potassium" id="recipe_potassium" name="txtWeight" value="{{meal.recipe.potassium}}">
                                                <label for="recipe_potassium">Potassium</label>   
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input class="form-control" type="number" required='True' name="recipe_water" id="recipe_water" name="txtWeight" value="{{meal.recipe.calories}} (in cups)">
                                                <label for="recipe_water">Water</label>   
                                            </div>
                                        </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid"><input type="submit" value="Update Recipe" class="btn btn-primary btn-block"><a >Update Recipe</a></input></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script>
    function replaceDropdown(id, value) {
        document.getElementById(id).innerHTML = value
    }
</script>
{% endblock %}